{% extends 'turno/base.html' %}


{% block title %}
    Turnos
{% endblock title %}


{% block content %}
    
<h1 class="fs-1 text-center text-secondary mt-3 mb-5">Lista de Turnos</h1>

<div class="container container-fluid">

    <div class="row justify-content-center">
        
        <div class="col-12 col-md-3 text-center p-2">
            <div class="row p-2">
                <a href="{% url 'turno:nuevo_turno' %}" class="btn btn-sm btn-success form-control mb-3">
                    Nuevo Turno
                </a>
            </div>
            
            <!-- ----------- Filtros ------------ -->
            <div class="row p-2">
                <h3>Filtros</h3>
                <form action="{% url 'turno:listar_turnos' %}#datos" method="get">
                    <label for="esp" class="col-10">Especialidad
                        <select name="esp" id="esp" class="form-control form-control-sm">
                            <option value="">---</option>
                            {% for e in especialidades %}
                                <option value="{{ e.id }}" {% if request.GET.esp == e.id|stringformat:"s" %}selected{% endif %}>{{ e.nombre }}</option>
                            {% endfor %}
                        </select>
                    </label>

                    <label class="col-5">Fecha 1
                        <input type="date" name="desde" class="form-control form-control-sm" value="{{ request.GET.desde }}">
                    </label>
                    
                    <label class="col-5">Fecha 2
                        <input type="date" name="hasta" class="form-control form-control-sm" value="{{ request.GET.hasta }}">
                    </label><br>
                    
                    <button type="submit" class="col-5 btn btn-sm btn-outline-primary mt-2">Filtrar</button>

                    <a href="{% url 'turno:listar_turnos' %}#datos" class="col-5 btn btn-sm btn-outline-secondary mt-2">Limpiar</a>
                </form>
                
            </div>
        </div>

        <!-- ------------- Datos ----------------- -->
        <div class="col-12 col-md-10 text-center p-3">
            <table class="table table-striped table-sm" id="datos">
                <thead>
                    <tr>
                        <th scope="col">FECHA</th>
                        <th scope="col">PACIENTE</th>
                        <th scope="col">ACCION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in turnos %}
                        <tr>
                            <td>{{ t.fecha|date:'d M Y' }} - {{t.hora}}</th>
                            <td>{{ t.paciente }}</td>
                            <td>
                                <a href="{% url 'turno:detalle_turno' t.id %}" class="btn btn-sm btn-outline-success">Ver</a>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
            
        </div>
    </div>

</div>


<br><br>

<!-- ------------------- Paginación --------------------  -->
<div class="row justify-content-center">
    <div class="col">
        {% include 'turno/pagination.html' %}
    </div>
</div>


{% endblock content %}
